<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank-Alfa-home</title>
    <link rel="stylesheet" href="css/indexArkusz.css">
</head>
<body>

    <div id="container">
        <h1>Alfa-Bank</h1>
        <br><br>
        <h4>Rejestracja</h4>
        <input id="button" type="button" value="Tutaj" onclick="registerButton();"/>

        <br>
        <h4>Logowanie</h4>
        <input id="button" type="button" value="Tutaj" onclick="loginButton();"/>
    </div>

    <script type="text/javascript" src="js/indexScript.js"></script>
</body>
</html>